
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
   

{% endblock %}


{% block body %}
<body>
    <div class="top">
        <div class="logo">
            <span>Trip<span class="highlight">sters</span></span>
        </div>
    </div>

    <main>
        <section class="hero">
            <h1>Explorez le monde,<br> simplifiez vos <span class="highlight-voyage">voyages</span></h1>
            <div class="buttons">
                <a href="{{ path('app_register') }}" class="btn inscription">Inscription</a>
                <a href="{{ path('app_login') }}" class="btn connexion">Connexion</a>
            </div>
            <a href="{{ path('forum_index') }}" class="btn forum">forum</a>
            <p class="sous-texte">Tripsters, c'est quoi ?</p>
            <a href="#" class="btn voir-plus">Voir Plus</a>
        </section>
        <section class="montgolfiere">
            <img src="{{ asset('img/montgolfiere.png') }}" alt="">
        </section>
    </main>
</body>

{% endblock %}
