{% extends 'base.html.twig' %}

{% block extra_nav %}
    <li><a href="{{ path('app_expense_index', {'tripId': trip.id}) }}"><i class="fa-solid fa-sack-dollar"></i></a></li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" integrity="sha384-..." crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}Gestion des dépenses pour {{ trip.name }}{% endblock %}

{% block body %}
<div class="up">
    <div class="info-left">
        <img src="{{ asset('uploads/avatars/' ~ trip.imageName) }}" alt="">
        <div class="info_trip">
            <h1>{{ trip.name }}</h1>
            <p>Du {{ trip.startDate ? trip.startDate|date('d-m-Y') : '' }} au {{ trip.endDate ? trip.endDate|date('d-m-Y') : '' }}</p>
            <a href="{{ path('app_trip_edit', {'id': trip.id}) }}">Modifier</a>
            <a href="{{ path('trip_invite', {'id': trip.id}) }}">Inviter un tripster !</a>
        </div>
    </div>

    <div class="cards">
        <div class="card" id="budgetCard" style="background-color:#007da79a; border:none">
            <h2>Budget</h2>
            <p>{{ trip.budget }} €</p>  
            <h2>Dépense</h2>
            <p id="totalExpense">0 €</p>
            {% if isBudgetExceeded %}
                <div class="alert alert-danger mt-3" role="alert">
                    Alerte ! Le budget du voyage est dépassé !
                </div>
            {% endif %}
        </div>  
        <svg viewBox="0 0 36 36" class="circle-svg">
            <path class="around" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
            <path class="percent" stroke-dasharray="{{totalCost / trip.budget  * 100}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
            <text x="18" y="14" text-anchor="middle" dy="7" font-size="20">{{(totalCost / trip.budget  * 100)|round(1, 'floor')}} %</text>
        </svg>
    </div>
</div>

<div class="expense-categories">
    {% for categoryExpense in expensesByCategory %}
        <div class="category-card" style="background-color: {{ categoryExpense.backgroundColor }};">
            <i class="{{ categoryExpense.icon }}"></i>
            <h4>{{ categoryExpense.categoryName }}</h4>
            <p>{{ categoryExpense.total|number_format(2, ',', ' ') }} €</p>
        </div>
    {% endfor %}
</div>

<div class="down">
    <div class="recent-expenses">
        <h3>Dépenses récentes</h3>
        {% for expense in recentExpenses %}
            <div class="expense-item">
                <div class="icon" style="background-color: {{ expense.categoryExpense.backgroundColor }};">
                    <i class="{{ expense.categoryExpense.icon }}"></i>
                </div>
                <div class="expense-details">
                    <p class="expense-name">{{ expense.name }}</p>
                    <p class="expense-date">{{ expense.date|date('d M Y') }}</p>
                </div>
                <p class="expense-amount">{{ expense.amount }} €</p>
            </div>
        {% endfor %}
    </div>

    <div class="add-expense-form">
        <h3 class="text-center mb-4">Ajouter une dépense</h3>
        {{ form_start(expenseForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            <div class="form-group mb-3">
                {{ form_row(expenseForm.name, {'attr': {'placeholder': 'Nom', 'class': 'form-control', 'required': 'required'}}) }}
            </div>
            <div class="form-group mb-3">
                {{ form_row(expenseForm.amount, {'attr': {'placeholder': 'Montant', 'class': 'form-control','min': '0','type': 'number','step': '0.01', 'required': 'required'}}) }}
            </div>
            <div class="form-group mb-3">
                {{ form_row(expenseForm.date, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
            </div>
            <div class="form-group mb-3">
                {{ form_row(expenseForm.categoryExpense, {'attr': {'class': 'form-select', 'required': 'required'}}) }}
            </div>
            <div class="form-group mb-3">
                {{ form_row(expenseForm.description, {'attr': {'placeholder': 'Description', 'class': 'form-control', 'required': 'required'}}) }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Ajouter</button>
        {{ form_end(expenseForm) }}
    </div>
    
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            let totalCost = {{ totalCost }};
            $('#totalExpense').text(totalCost + ' €');

            $('.add-activity').on('click', function() {
                $('#activityModal').show();
                const defaultDate = new Date('{{ trip.startDate|date('Y-m-d') }}');
                const formattedDate = defaultDate.toISOString().split('T')[0];
                $('#activityStartDate').val(formattedDate + 'T09:00');
                $('#activityEndDate').val(formattedDate + 'T10:00');
            });
        });
    </script>
{% endblock %}
