{% extends 'base.html.twig' %}

{% block title %}Ajouter une activité{% endblock %}

{% block body %}
    <h1>Ajouter une activité pour le voyage : {{ trip.name }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Ajouter</button>
    {{ form_end(form) }}
    <a href="{{ path('app_activity_new', {trip_id: trip.id}) }}">Créer une nouvelle activité</a><br>
{% endblock %}
