{% extends 'base.html.twig' %}

{% block title %}Trip index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/indexTripStyles.css') }}">
{% endblock %}

{% block body %}
<div class="trips-container">
    <div class="trips-header">
        <h1>Voyages</h1>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_trip_new') }}" class="btn-create">Créer un nouveau voyage</a>
        {% endif %}
    </div>

    <div class="trips-grid">
        {% for trip in trips %}
        <div class="trip-card">
            {% if trip.imageName %}
                <img class="trip-image" src="{{ asset('uploads/avatars/' ~ trip.imageName) }}" alt="Image of {{ trip.name }}">
            {% else %}
                <img class="trip-image" src="{{ asset('img/voyage.jpg') }}" >
            {% endif %}
            <div class="trip-content">
                <h2>{{ trip.name }}</h2>
                <p>{{ trip.description }}</p>
                <div class="trip-details">
                    <div class="detail">
                        <i class="fas fa-calendar-alt"></i>
                        <span>{{ trip.startDate|date('d-m-Y') }} - {{ trip.endDate|date('d-m-Y') }}</span>
                    </div>
                    <div class="detail">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>{{ trip.destination }}</span>
                    </div>
                    <div class="detail">
                        <i class="fas fa-euro-sign"></i>
                        <span>{{ trip.budget }}</span>
                    </div>
                </div>
                <div class="trip-actions">
                    <a href="{{ path('app_trip_show', {'id': trip.id}) }}" class="btn-show">Voir</a>
                    <a href="{{ path('app_trip_edit', {'id': trip.id}) }}" class="btn-edit">Éditer</a>
                </div>
            </div>
        </div>
        {% else %}
        <p>Aucun voyage trouvé.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
