<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tripsters{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('app_trip_index') }}">Trips</a></li>
                <li><a href="{{ path('app_activity_index') }}">Activities</a></li>
                <li><a href="{{ path('app_expense_index') }}">Expenses</a></li>
                <li><a href="{{ path('app_user_index') }}">Profile</a></li>
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Login</a></li>
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>