{% extends 'base.html.twig' %}

{% block body %}
<h1>Forum</h1>
<a href="{{ path('forum_new') }}">Créer un nouveau sujet</a>

<ul>
    {% for topic in topics %}
        <li>
            <a href="{{ path('forum_show', { 'id': topic.id }) }}">{{ topic.title }}</a>
            par {{ topic.author.email }} le {{ topic.createdAt|date('d-m-Y H:i') }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
